/* CSS Reset */

* {
  margin: 0%;
  padding: 0%;
}

/* Heading Designing Part */

.navbar h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

.navbar {
  height: 4rem;
  width: 100%;
  background-color: rgb(49, 54, 85);
}

.navLinks li {
  list-style: none;
  display: inline-block;
  padding: 0.1rem;
}

.navLinks li a {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.navLinks li a:hover {
  border-bottom: 2px solid white;
}

/* container Design Part */

.container {
  background-color: rgb(49, 54, 85);
  color: white;
  border-radius: 1.2rem;
  height: 3rem;
  width: 25rem;
  margin: auto ;
  margin-top: 12rem;
  box-shadow: 15px 14px 19px 0px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
}
.container h2{
  display: flex;
}
.click-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

 #btn {
  position: relative;
  margin-top: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  color: white;
  background-color: rgb(49, 54, 85);
  padding: 0.4rem;
  border-radius: 1.8rem;
  height: 2rem;
  width: 5rem;
  border: none;
}

 #btn:hover {
  cursor: pointer;
  background-color: rgb(78, 90, 140);
  color: black;
}
@media (max-width:580px) {
  .container{
    width: 13rem;
  }
  .container h2{
    font-size: small;
    
  }
  
}